<div class="row justify-content-center">
  <div class="col col-md-8">

   <h2 class="text-center mb-3"><%= @user.name %> さんの読みたい本一覧</h2>

    <% if @wish_lists.present? %>
      <table class="table border-bottom">
        <% @wish_lists.each do |wish_list| %>
          <tr>
            <td>
              <h3>
                <%= link_to book_path(wish_list.book.isbn), class: "text-dark" do %>
                  <%= wish_list.get_book_date(wish_list.book.isbn).title %>
                <% end %>
              </h3>
              <% if current_user == @user %>
                <h4><%= link_to '読みたい本から解除する', wish_list_path(wish_list.book_id, delete_sort: 0), method: :delete %></h4>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
    <h3>登録された本ははありません</h3>
    <% end %>

  </div>
</div>