<h2><%= @user.name %>さんの読みたい本</h2>

<% @wish_lists.each do |wish_list| %>
  <%= wish_list.get_book_date(wish_list.book.isbn).title %>
  
  <% if current_user == @user %>
    <%= link_to '読みたい本から解除する', wish_list_path(wish_list.book_id, delete_sort: 0), method: :delete %>
  <% end %>
<% end %>