<table class="table border-bottom">
  <% users.each do |user| %>
    <tr>
      <td style="width: 100px;">
        <% if user.image.attached? %>
          <%= image_tag user.get_image(100,100), class: "border rounded-circle" %>
        <% else %>
          <div class="border border-dark rounded-circle" style="height: 100px; width: 100px;"></div>
        <% end %>
      </td>
      <td>
        <h3 class="mt-2">
          <%= link_to user.name, mypage_path(user.id), class: "text-dark" %>
        </h3>
      </td>
    </tr>
  <% end %>
</table>