<div class="row justify-content-center">
  <div class="col col-md-8">

   <h2 class="text-center mb-3"><%= @user.name %> さんのフォロワー一覧</h2>

  <% if @followers.present? %>
    <table class="table border-bottom">
      <% @followers.each do |user| %>
        <tr>
          <td style="width: 100px;">
            <%= render "public/users/user_image", user: user, width: 100, height: 100 %>
          </td>
          <td>
            <h3 class="mt-2">
              <%= link_to user.name, mypage_path(user.id), class: "text-dark" %>
            </h3>
          </td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <h3>登録されたユーザーはいません</h3>
  <% end %>

  </div>
</div>