<h1>ユーザー一覧</h1>

<table>
  <tr>
    <th>会員ID</th>
    <th>ユーザーネーム</th>
    <th>ステータス</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.is_active %></td>
    </tr>
  <% end %>
</table>