 <div class="row justify-content-center">
  <div class="col col-md-6 m-1">

    <h2>本を探す</h2>

    <div class="m-3">
      <h4>タイトルから探す</h4>

      <%= form_with url: books_path, method: :get, local: true do |f| %>
        <div class="input-group">
          <%= f.text_field :keyword, class: "form-control", placeholder: "タイトルを入力" %>
          <span class="input-group-btn">
            <%= f.submit "検索", class: "btn btn-outline-primary" %>
          </span>
        </div>
      <% end %>

      <div class="mt-4">
        <h4>ユーザーの読後感から探す</h4>
        <table class="table table-borderless">
        <% @feeling_after_readings.each_with_index do |feeling_after_reading, index| %>
          <% if index % 3 == 0 %>
            <% if index != 0 %>
              </tr>
            <% end %>
            <tr>
          <% end %>
          <td>
            <%= link_to feeling_after_reading.name, books_path(feeling_after_reading_id: feeling_after_reading.id) %>
          </td>
        <% end %>
        <% if @feeling_after_readings.size % 3 != 0 %>
          </tr>
        <% end %>
        </table>

      </div>
    </div>

  </div>
</div>

